extends layout

block content
    h1= title

    if categories.length
        p Our inventory includes the following:

        ul
            each category in categories
                li
                    a(href='/inventory/category/' + category._id)= category.name
    else
        p No categories have been created yet.