extends layout

block content
    p Are you sure you want to delete this category?
    p #{category.name}

    form(method='POST')
        div.form-group
            input#itemid.form-control(type='hidden', name='categoryid', value=category._id)
        input.btn.btn-primary(type='submit', value='Delete')

    if errors
        ul
            each error, i in errors
                li!= error.msg

    