extends layout

block content
  h1=title

  form(method='POST')
    div.form-group
        label(for='name') Name:
        input#name.form-control(type='text', name='name', value=(undefined===category ? '' : category.name))
    div.form-group
        label(for='description') Description:
        input#description.form-control(type='text', name='description', value=(undefined===category ? '' : category.description))
    input.btn.btn-primary(type='submit', value='Submit')

    hr
    if errors
        ul
            each error, i in errors
                li!= error.msg