extends layout

block content
  h1= title
  p Welcome to #{title}

  p Our inventory includes the following:

  ul
    li #[strong Catgegories:] !{numCategories}
    li #[strong Products:] !{numItems}
